/* 구글폰트 */
/* {font-family: 'Nanum Brush Script', cursive;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Playfair Display', serif;
} */
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
/* Global */

:root {
  /* Color */
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;

  --color-white: #ffffff;
  --color-light-white: #f8f7f5;
  --color-dark-white: #f0eee7;
  --color-purple: #7d4d87;
  --color-green: #0b2f13;
  --color-light-brown: #b57c5b;
  --color-dark-brown: #b68e74;
  --color-grey: #dcd5c9;
  --color-black: #000000;

  /* Font size */
  --font-large: 45px;
  --font-medium: 24px;
  --font-regular: 15px;
  --font-small: 12px;
  /* --font-micro: 14px; */

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation-duration */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
  /* font-family: 'Courier New', Courier, monospace; */
  font-family: 'Montserrat';
  padding: 0;
  margin: 0;
  font-size: var(--font-regular);
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'NanumSquare'; */
  /* font-family: 'IM Fell French Canon', serif; */
  /* font-family: 'Pinyon Script', cursive; */
  /* font-family: 'Josefin Sans', sans-serif; */
}

a {
  text-decoration: none;
  color: var(--color-black);
}

ul {
  list-style: none;
  color: var(--color-black);
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}
/* menu list container */
.menu-list {
  display: none;
  position: fixed;
  top: 70px;
  width: 100%;
  background-color: white;
  z-index: 1;
  transition-duration: 1s;
  left: -100%;
  opacity: 0;
}
/* menu list container end */
/* about card flip */
.about-card-container {
  position: relative;
  width: 460px;
  height: 560px;
  margin: 20px;
  perspective: 1000px;
}

.about-card {
  position: relative;
  width: 100%;
  height: 100%;
  /* transform-style: preserve-3d; */
  cursor: pointer;
}

.about-card > .front,
.about-card > .back {
  transition-duration: 1.5s;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  color: white;
}

.about-card > .back {
  transform: rotateY(180deg);
}

.about-card > .front > img,
.about-card > .back > img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.about-card > .back > img {
  filter: brightness(70%);
}
.about-card > .front > span,
.about-card > .back > span {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: calc(50% - 5px);
}

/* about card flip end */
#navbar {
  position: fixed;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-white);
  align-items: center;
  color: var(--color-light-white);
  /* background-color: transparent; */
  /* padding: 0px 6px; */
  /* border-left: solid 1px transparent; */
  /* border-right: solid 1px transparent; */

  transition: all var(--animation-duration) ease-in-out;
  z-index: 1;
  background-color: var(--color-white);

  /* border: 1px solid black; */
  border-bottom: 1px solid black;
}
/* #navbar.navbar-dark { */
/* background-color: var(--color-grey); */
/* background-color: rgba(255, 255, 255, 0.5); */
/* padding: 8px; */
/* } */

.navbar_logo {
  margin-left: 30px;
}

.logo_name {
  font-weight: var(--weight-semi-bold);
  font-size: var(--font-medium);
}

.icon_bars {
  width: 20px;
}

.navbar_menu {
  display: flex;
}

.navbar_menu_item {
  padding: 8px 12px;
  margin: 0 4px;
  color: var(--color-black);
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: var(--size-border-radius);
  font-weight: 500;
}
.navbar_menu_item:hover {
  text-decoration: underline;
}

.navbar_toggle-btn {
  position: absolute;
  top: 24px;
  right: 32px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
}
.more_open {
  background-color: var(--color-dark-white);
  width: 85px;
  height: 100%;
}
.more_open i::before {
  color: var(--color-dark-grey);
}
.more_open > svg > path {
  background-color: var(--color-dark-white);
  fill: var(--color-dark-grey);
}

#menu_toggle_btn {
  display: none;
}

.contact {
  width: 320px;
  height: 100%;
  position: fixed;
  background: white;
  z-index: 1;
  box-shadow: -10px 9px 34px rgb(17 17 17 / 30%);
  text-align: center;
  top: 70px;
  transition-duration: 1s;
  right: -320px;
}

/* .contact_action { */
/* display: none; */
/* visibility: hidden; */
/* } */

.more_close {
  /* right: 0; */
  /* padding: 20px; */
  /* position: fixed; */
  /* font-size: 24px; */
  width: 30px;
  height: 30px;
  margin: 16px;
  margin-right: 28px;
  position: relative;
}
.more_close::before,
.more_close::after {
  content: '';
  display: block;
  width: 20px;
  height: 0px;
  border-top: solid 2px var(--color-dark-grey);
  position: absolute;
  left: calc(50% - 10px);
}
.more_close::before {
  transform: rotate(45deg);
}
.more_close::after {
  transform: rotate(-45deg);
}
.contact_close {
  font-weight: 800;
  font-size: 15px;
}
.open_img {
  width: 200px;
  margin-bottom: 24px;
}

.text_div {
  background-color: #000000;
  color: white;
  display: block;
  width: 200px;
  margin: 20px auto;
  padding: 12px;
}
.text_info {
  padding: 12px;
  /* margin: 16px au//to; */
}

.more_lists {
  position: relative;
  top: 80px;
}
.icon_lists a {
  /* font-size: 25px; */
  margin: 16px;
}
.icon_lists a img {
  width: 25px;
}
.icon_lists {
  display: inline-flex;
}
.fa-brands,
.fab {
  font-size: x-large;
}

/* Home */
#home {
  background: url('./imgs/home_last_img.png') center / cover no-repeat;
  /* background-color: rgba(0, 0, 0, 0. 0.1); */
  opacity: 0.9;
  overflow: hidden;
  text-align: center;
}
.home_container {
  /* padding: 150px 0; */
  height: 695px;
  background: rgba(0, 0, 0, 0.9);
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home_my {
  width: 80%;
  border-bottom: 2px solid var(--color-black);
  margin: auto;
}
.home_img_container {
  position: relative;
  margin-top: 12px;
}
.home_bg {
  /* width: 1000px; */
  width: 100%;
}
.home_avatar {
  width: 300px;
  position: absolute;

  /* left: 520px; */
  left: 0;
  /* bottom: 18px; */
}

.home_title,
.home_description {
  /* color: var(--color-black); */
  color: var(--color-white);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
}
.home_contact {
  color: var(--color-white);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
  width: fit-content;
}
.home_contact:hover {
  background-color: #a9cbfa;
}
/* Section common */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}
.section_container {
  max-width: 1200px;
  margin: auto;
}

/* About */
#about {
  background-color: var(--color-light-white);
}

/* about slick */
.about_container {
  margin: auto;
  padding: 40px 100px 0 100px;
}
.about_slick .slick-slide {
  position: relative;
}
.slick-slide img {
  margin: auto;
}

.slick-prev slick-arrow {
  left: 0;
}

.slide-box-container {
  display: flex;
  justify-content: center;
}

.slide-box {
  width: fit-content;
}

.about_arrow {
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin: auto;
}
.rotate {
  transform: rotate(180deg);
}
.about_box {
  border: 1px solid black;
  margin: 0 40px;
  position: relative;
}

.slick-prev {
  width: 50px;
  height: 50px;
  background: url(./svg/arrow.svg) no-repeat 0 0;
  transform: rotate(180deg);

  position: absolute;
  left: -100px;
  bottom: 50%;
}
.slick-next {
  width: 50px;
  height: 50px;
  background: url(./svg/arrow.svg) no-repeat 0 0;
  position: absolute;
  right: -100px;
  bottom: 50%;
}
.slick-dots {
  display: flex;
  justify-content: center;
}

.slick-dots > li {
  padding: 5px;
}

.slick-dots > li > .dot {
  display: block;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  background-color: gray;
}

.slick-dots > li.slick-active > .dot {
  background-color: black;
}

/* ------ */
.about_majors {
  display: flex;
  /* justify-content: space-evenly; */
  justify-content: center;
  align-items: center;
  margin: 80px 0;
}

.major {
  padding: 0 40px;
}

.major_icon {
  width: 170px;
  height: 170px;
  line-height: 190px;
  font-size: 70px;
  color: var(--color-black);
  margin: auto;
  border: 1px dotted var(--color-black);
  border-radius: var(--size-border-radius);
  border-radius: 50%;
  margin-bottom: 16px;
}

.major_icon i {
  transition: all var(--animation-duration) ease;
}
.major_icon:hover i {
  color: var(--color-light-brown);
  transform: rotate(-360deg) scale(1.1);
}

.major_title,
.major_description {
  color: var(--color-dark-grey);
}

/* Skill */
#skills {
  background-color: var(--color-light-white);
}

.skillset {
  display: flex;
  background-color: var(--color-yellow);
  margin: 20px 0;
}
.skillset_title {
  color: var(--color-white);
}

.skillset_left {
  flex-basis: 60%;
  background-color: var(--color-light-grey);
  padding: 20px 40px;
}
.skill {
  margin-bottom: 32px;
}
.skill_description {
  display: flex;
  justify-content: space-between;
}

.skill_bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-dark-grey);
}
.skill_value {
  height: 3px;
  background-color: var(--color-orange);
}

.skillset_right {
  flex-basis: 40%;
  background-color: var(--color-dark-grey);
}

.tools {
  background-color: var(--color-grey);
}

.tools,
.etc {
  padding: 20px;
}

/* Work */
.category_btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  padding: 8px 48px;
  position: relative;
}
/* 마우스 hover, btn이 움직임 */
.category_btn.selected,
.category_btn:hover {
  background-color: var(--color-pink);
  color: var(--color-white);
}

.category_btn.active .category_count,
.category_btn:hover .category_count {
  opacity: 1;
  top: 0;
}

.category_count {
  background-color: var(--color-orange);
  border-radius: 50%;
  color: var(--color-white);
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  position: absolute;
  top: -20px;
  right: 16px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}
.work_projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}

.work_projects.anim-out {
  opacity: 0;
  transform: scale(0.96) translateY(40px);
}

.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 250px;
  margin: 2px;
  background-color: var(--color-light-yellow);
}

.project.invisible {
  display: none;
}

.project_img {
  max-width: 100%;
  max-height: 100%;
}

.project_description {
  position: absolute;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: translateY(10px);
  transition: all var(--animation-duration) ease-in;
}

.project:hover .project_description {
  opacity: 0.8;
  transition: translateY(0px);
}

.project_description h3 {
  color: var(--color-yellow);
}

.project_description h3:after {
  content: '';
  display: block;
  position: relative;
  left: 50%;
  width: 50px;
  height: 2px;
  transform: translateX(-50%);
  margin-left: -12px;
  margin-top: 8px;
  background-color: var(--color-dark-white);
}

.work_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  margin: auto;
}
.work_box {
  display: flex;
  margin: 80px auto;
}
.work_box a {
  margin: auto;
}
.web_box {
  overflow-y: hidden;
  width: 32rem;
  height: 34em;
  /* background-color: #E5D7C7; */
  position: relative;
  text-align: center;
  /* margin: auto; */
}
.bg1 {
  background-color: #8da4b2;
}
.bg2 {
  background-color: #e5d7c7;
}
.bg3 {
  background-color: #f0eee7;
}
.bg4 {
  background-color: #d1cebf;
}
.bg5 {
  background-color: #e5d7c7;
}

.web_img {
  width: 24rem;
  height: 30rem;
  /* background-color: var(--color-light-white); */
  position: absolute;
  bottom: 0;
  left: 4rem;
  /* bottom: 2rem; */
  background-repeat: no-repeat;
  background-size: 100%;
}
.web_text h3 {
  font-weight: var(--weight-semi-bold);
}

.web_text {
  padding: 20px;
  width: 380px;
  margin: auto 60px;
  background-color: var(--color-light-white);
  border-radius: var(--size-border-radius);
}

/* Testimonials */
#testimonial {
  background-color: var(--color-light-white);
}
.testimonials {
  margin: 40px;
}
.testimonial {
  display: flex;
  margin: 60px 40px;
}
.testimonial_avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: auto;
}
.testimonial_avatar:nth-child(odd) {
  margin-right: 40px;
}
.testimonial_avatar:nth-child(even) {
  margin-left: 40px;
}
.testimonial-comment-box {
  width: 100%;
  padding: 18px;
  background-color: var(--color-white);
  border-radius: var(--size-border-radius);
}

.testimonial-comment-box p {
  color: var(--color-light-grey);
  margin: 0;
  white-space: break-spaces;
  text-align: left;
  /* text-align: center; */
}

.testimonial-comment-box.view-more-before p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.testimonial_display_btn {
  display: block;
  margin: auto;
  padding: 8px;
  font-weight: 600;
}
.testimonial_display_btn:hover {
  transform: scale(1.2);
}

.testimonial-comment-box a {
  color: #b68e74;
}
.name {
  text-align: right;
  font-size: small;
}

/* Contact */
#contact {
  background-color: var(--color-white);
}

.contact_container {
  display: flex;
  /* justify-content: space-evenly; */
  justify-content: center;
  align-items: center;
  margin: 40px;
}
.contact_imgbox {
  display: flex;
  flex-direction: column;
  border: var(--size-border-radius);
}

.contact_img {
  width: 600px;
  /* margin: 20px 20px 0 20px; */
}
.comment_span {
  font-weight: var(--weight-regular);
  color: var(--color-black);
  background-color: yellow;
  margin-top: 10px;
}
.contact_formbox {
  padding: 4px;
  /* width: 765px; */
}
.info {
  display: flex;
  justify-content: space-between;
  border-style: none;
  padding: 0;
  margin: 10px;
}

.contact_formbox input:focus {
  color: var(--color-dark-brown);
}
.contact_formbox input {
  width: 100%;
  border-radius: 4px;
  font-weight: 100;
  padding: 10px;
  border: 1px solid #a9cbfa;
  margin: 10px 8px;
}

.contact_formbox .info textarea {
  resize: none;
  letter-spacing: 0.8px;
  margin: 10px;
  /* padding: 20px; */
  padding: 10px;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid #a9cbfa;
}

#send_btn:hover {
  color: var(--color-white);
  /* background-color: var(--color-dark-brown); 이게 안먹어 */
}

#send_btn {
  transition: all var(--animation-duration) ease-in;
  padding: 10px;
  border: 1px solid #a9cbfa;
  border-radius: var(--size-border-radius);
  background-color: #a9cbfa;
}

.contact_email,
.contact_rights {
  color: var(--color-white);
}

/* .contact_title {
  margin: 32px 0;
} */
.contact_links {
  font-size: var(--font-large);
  margin: 24px 0;
}

.contact_links i:hover {
  transform: scale(1.1);
  color: var(--color-yellow);
}

.contact_links i {
  transition: all var(--animation-duration) ease-in;
}

/* Scroll */
.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 55px;
  height: 55px;
  /* font-size: 30px; */
  color: var(--color-white);
  background-color: var(--color-black);
  border-radius: 50%;
  /* display: none; */
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease-in;
}
.arrow-up.visible {
  /* display: block; */
  opacity: 1;
  pointer-events: auto;
}

/* 움직이는 텍스트 */
.animated-title {
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  position: relative;
  width: 100%;
  max-width: 100%;
  height: auto;
  overflow-x: hidden;
  overflow-y: hidden;
}
.animated-title .track {
  white-space: nowrap;
  will-change: transform;
  animation: marquee 60s linear infinite;
}
.animated-title .track .content {
  font-size: var(--font-large);
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
/* @media (hover: hover) and (min-width: 700px) {
  .animated-title .content {
    -webkit-transform: translateY(calc(100% - 8rem));
    transform: translateY(calc(100% - 8rem));
  }
} */

#footer {
  background-color: var(--color-black);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 40px;
  text-align: center;
}
.footer_container p {
  font-size: var(--font-small);
  margin: 0;
  color: #f0eee7;
}

@media screen and (max-width: 1140px) {
  .about-card-container {
    width: 400px;
    height: 500px;
  }
  .work_box {
    flex-direction: column;
  }
  .web_text {
    order: 1;
    min-inline-size: fit-content;
  }

  .web_text {
    /* width: 500px; */
    margin: 40px auto;
  }

  .contact_container {
    flex-direction: column;
  }
}

/* For below 768px screen width */

@media screen and (max-width: 768px) {
  #menu_toggle_btn {
    display: block;
  }
  .navbar_toggle-btn {
    display: block;
    top: 16px;
    right: 16px;
    font-style: var(--font-medium);
  }

  .navbar_menu {
    flex-direction: center;
    text-align: center;
    width: 100%;
    display: none;
  }
  .navbar_menu.open {
    display: block;
  }
  .menu-list {
    display: block;
  }

  .contact {
    top: 70px;
    width: 100%;
    right: -100%;
  }
  .navbar_block_list {
    border-bottom: 1px solid var(--color-black);
    padding: 24px;
    text-align: center;
    cursor: pointer;
  }
  .navbar_block_list:hover {
    background-color: var(--color-light-white);
  }
  .section {
    padding: 16px;
    padding-top: 40px;
  }
  .about-card-container {
    width: 280px;
    height: 380px;
  }
  .about_majors {
    flex-direction: column;
    margin-top: 30px;
  }
  .major {
    margin-bottom: 30px;
    margin-bottom: 0px;
  }
  .slick-arrow {
    width: 40px;
    height: 40px;
  }
  .skillset {
    flex-direction: column;
  }

  .category_btn {
    margin: 4px 0;
    width: 100%;
  }

  .category_btn {
    padding: 8px;
  }

  .web_text {
    margin: 20px auto;
  }

  .testimonial {
    flex-direction: column;
    align-items: center;
  }

  .testimonial_avatar {
    width: 120px;
    height: 120px;
  }

  .testimonial_avatar:nth-child(even),
  .testimonial_avatar:nth-child(odd) {
    margin: 0;
    margin-bottom: 12px;
  }
  .testimonial-comment-box {
    order: 1;
    width: 24rem;
  }
  .contact_img {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .about_container {
    padding: 20px 90px 0 90px;
  }
  .web_box {
    width: 20rem;
    height: 24em;
  }
  .web_img {
    /* width: 100%; */
    width: 70%;
    top: 3rem;
    left: 3rem;
  }
  .home_description {
    font-size: 12px;
  }
  .home_container p {
    font-size: 10px;
  }
  .about-card-container {
    width: 145px;
    height: 180px;
  }
  .slick-arrow {
    width: 30px;
    height: 30px;
  }
}
